# Configuration SFTP pour le déploiement du dossier docs/
SFTP_HOST=ssh.mon-serveur.com
SFTP_PORT=22
SFTP_USER=mon_utilisateur
# Authentification par mot de passe :
SFTP_PASSWORD=mon_mot_de_passe
# récupère la clé avec : ssh-keyscan -p <port> <host>
SFTP_HOST_KEY=ftp.cluster789.hosting.ovh.net ssh-rsa AAAAI848nDJEJAAAAA...
# Dossier distant sur le serveur
SFTP_DIR=/var/www/mon-site
