{{define "head"}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{if .CurrentTag}}{{.CurrentTag}}{{else}}{{.Title}}{{end}} · ATMA's blog
</title>
{{with .Description}}<meta name="description" content="{{.}}" />{{end}}
<meta name="color-scheme" content="light dark" />
<link rel="icon" href="{{url `/images/atma.jpg`}}" />
{{with abs .Path}}<link rel="canonical" href="{{.}}" />{{end}}
<meta property="og:site_name" content="Mon Blog" />
<meta property="og:type" content="{{if .Post}}article{{else}}website{{end}}" />
<meta
  property="og:title"
  content="{{if .CurrentTag}}{{.CurrentTag}}{{else}}{{.Title}}{{end}}"
/>
{{with .Description}}<meta property="og:description" content="{{.}}" />{{end}}
{{with abs .Path}}<meta property="og:url" content="{{.}}" />{{end}} {{if .Post}}
{{with abs .Post.Image}}<meta property="og:image" content="{{.}}" />{{end}}
{{else}} {{with abs `/images/atma.jpg`}}<meta
  property="og:image"
  content="{{.}}"
/>{{end}} {{end}} {{with abs `/atom.xml`}}<link
  rel="alternate"
  type="application/atom+xml"
  title="Mon Blog"
  href="{{.}}"
/>{{end}}
<link rel="stylesheet" href="{{url `/css/style.css`}}" />
{{end}} {{define "header"}}
<header class="site-header">
  <nav>
    <a class="logo" href="{{url `/`}}">
      <img src="{{url `/images/atma.jpg`}}" />
      <span>ATMA</span>
    </a>
    <span class="nav-sep" aria-hidden="true">|</span>
    {{if .AllTags}}{{range .AllTags}}
    <a
      class="tag-link{{if eq $.CurrentTag .}} is-active{{end}}"
      href="{{url (printf `/tags/%s/` (slug .))}}"
      >{{.}}</a
    >
    {{end}}{{end}}
    <span class="nav-sep" aria-hidden="true">|</span>
    <a href="{{url `/`}}">Suivez-moi</a>
  </nav>
</header>
{{end}} {{define "footer"}}
<footer class="site-footer">
  <p>
    Dernière màj le {{.GeneratedAt.Format "02/01/2006 à 15:04"}} ~ Inspiré par
    <a href="https://vas3k.com/" target="_blank" rel="noopener noreferrer"
      >vas3k</a
    >,
    <a
      href="https://world.hey.com/dhh/"
      target="_blank"
      rel="noopener noreferrer"
      >dhh</a
    >,
    <a
      href="https://www.paulgraham.com/articles.html"
      target="_blank"
      rel="noopener noreferrer"
      >paulgraham</a
    >
    &
    <a
      href="https://larsderidder.com/"
      target="_blank"
      rel="noopener noreferrer"
      >larsderidder</a
    >.
  </p>
</footer>
{{end}}
